<title>Digital Collection - I Tatti</title>
<link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
<link href="../../assets/styles/global.css" rel="stylesheet" title="Global Style">
<link href="../../assets/styles/header/header.css" rel="stylesheet" title="Header Style">
<link href="../../assets/styles/footer/footer.css" rel="stylesheet" title="Footer Style">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
