<div class="fd-footer">
    <div class="actions">
        <div class="action">
            <semantic-link class="btn btn-default" iri="http://www.researchspace.org/resource/about">About
            </semantic-link>
        </div>
        <div class="action">
            <semantic-link class="btn btn-default" iri="http://www.researchspace.org/resource/background">Background
            </semantic-link>
        </div>
    </div>
    <div class="footer-attribution">
        <div class="logo">
            <img src="../../assets/images/logoitatti.png" />
            <div>© 2020 The President and Fellows of Harvard College</div>
        </div>
    </div>
</div>

<style>
    .fd-footer {
        background: #e6e6e3;
    }


    .actions {
        position: absolute;
        display: flex;
        padding: 2vw;
    }

    .action {
        cursor: pointer;
        margin-left: 2vw;
    }


    .action:hover {
        text-decoration: underline;
    }

    .footer-attribution {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        margin-right: 2vw;
        height: 14vh;
    }

    .footer-attribution .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;

    }

    .footer-attribution .logo img {
        height: 9vh;

    }
</style>
