<nav id="fd-navigation" class="navbar navbar-default" role="navigation">
  <div class="rs-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="rs-header-logo" href="/"><img src="../../images/logo.svg" alt="{{deploymentTitle}}" />
        {{!-- <div class="subtitle">
          by Bernard Berenson
        </div> --}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>

      <ul style="    display: flex;
    justify-content: flex-end;">
          <bs-nav-dropdown title="About" id="rs-about-dropdown" class="rs-dropdown about">

            <bs-menu-item href="background" title='Background'>
              <div class="dropdownTitle"> Background</div>
            </bs-menu-item>
            <bs-menu-item href="credits" title='Credits'>
              <div class="dropdownTitle">Credits</div>
            </bs-menu-item>
            <bs-menu-item href="http://itatti.harvard.edu/website-feedback" title='Contact'>
              <div class="dropdownTitle">Contact</div>
            </bs-menu-item>

            <hr />

            <bs-menu-item href="http://data.itatti.harvard.edu/" title='Data'>
              <div class="dropdownTitle">Data</div>
            </bs-menu-item>

          </bs-nav-dropdown>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div style="position: fixed; bottom:0; right:0; z-index:100">
            <mp-anonymous-hidden>
          <bs-nav-dropdown  title="Admin" id="rs-about-dropdown" class="dropup admin">

            <bs-menu-item href="background" title='Background'>
              <div class="dropdownTitle">
                <mp-link url="/sparql" class="rs-body-m-M">Sparql</mp-link>
              </div>
            </bs-menu-item>
            <bs-menu-item >
              <div class="dropdownTitle">
                <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings"
                  class="rs-setting-icon">
                  <i class="fa fa-cog"></i>
                </semantic-link>
              </div>
            </bs-menu-item>
       

            <hr />

             <bs-menu-item href="/login" title='logout'>
              <div class="user-dropdown_item">
                <img src="/assets/images/icons/Actions/logout_dark.svg" class="rs-xs-none user-dropdown_img">
                <span>Logout</span>
              </div>
            </bs-menu-item>

          </bs-nav-dropdown>
        </mp-anonymous-hidden>
  </div>
</nav>
