<title>
  The Drawings of the Florentine Painters
</title>
<script type="text/javascript" src="https://viewer.diagrams.net/js/viewer-static.min.js"></script>
<link href="../../assets/images/favicon.ico" rel="icon" type="image/x-icon">
<link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
<link href="../../assets/styles/global.css" rel="stylesheet" title="Global Style">
<link href="../../assets/styles/header.css" rel="stylesheet" title="Header Style">
<link href="../../assets/styles/footer.css" rel="stylesheet" title="Footer Style">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82262156-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82262156-1');
</script>
