@import "./footer.css";
@import "./header.css";
@import "./man_made_object.css";
@import "./filterComponent.css";
@import "./artwork_list.css";

body {
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #333 !important;
  border-radius: 5px !important;
}

.rs-h2,
h2,
.h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}
.navbar {
  height: 90px !important;
}

.component-page-toolbar {
  position: absolute !important;
  z-index: 99999999 !important;
}

.navbar-collapse {
  overflow: visible !important;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #1c252c;
}

.page-breadcrumb {
  position: relative !important;
}

.rs-application .table > tbody > tr > td {
  border-bottom-color: #000000 !important;
  color: #000000 !important;
}

.rs-application .table > thead > tr > th {
  border-bottom-color: #000000 !important;
  color: #000000 !important;
}

.rs-application .Select-placeholder {
  color: gray;
}

.rs-application .is-open .Select-arrow,
.rs-application .Select-arrow,
.rs-application .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: black;
}

div,
ul,
li,
table,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
select,
.btn {
  color: black !important;
}

.panel-body {
  background-color: white !important;
}

.rs-icon {
  color: #761f0e !important;
}
.fa {
  color: #761f0e !important;
}
.filetype-text {
  color: #761f0e !important;
}
.btn:hover {
  color: #040404 !important;
  text-decoration: underline !important;
}
.yasr_btn {
  border-color: #761f0e !important;
  color: black !important;
}

.btn-primary,
.btn-xs {
  border-color: #761f0e !important;
  color: white !important;
  background-color: #761f0e !important;
}

.btn-primary,
.btn-xs .fa {
  color: white !important;
}

.yasr_btn.selected {
  background-color: #761f0e35 !important;
  color: white !important;
}

.yasr_btn:focus {
  background-color: #761f0e !important;
  color: white !important;
}

a:hover {
  color: #761f0e !important;
}

.active {
  color: black !important;
}

.Dashboard--addItemButton {
  background: white !important;
}

.modal-backdrop {
  background-color: #816e4225;
}

.pagination > li.active,
.pagination > li.active > a {
  background-color: #761f0e !important;
  color: white !important;
  text-decoration: none !important;
}

.pagination > li > a {
  font-size: medium !important;
}

.griddle .top-section input::placeholder {
  color: #761f0e !important;
}
.griddle .top-section input {
  background-blend-mode: luminosity;
  color: black !important;
}

.rs-application .semantic-carousel > .slick-slider .slick-next:before,
.rs-application .semantic-carousel > .slick-slider > .slick-prev:before {
  color: #761f0e !important;
}

#search-results .rs-grid-element a {
  color: #761f0e !important;
  text-decoration: underline;
}
