.filter-container {
    justify-content: center !important;
}

.fade-in {
    -webkit-animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.grid-demo b {
    font-weight: normal;
    color: #777777;
}

.panel-body {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rs-application .table>tbody>tr>td {
    border-color: white !important;
    padding: 4px 8px;
}

.rs-page__field {
    display: flex;
    justify-content: flex-start;
}

.rs-page__field-label {
    font-weight: normal;
    color: #777777;
}

.rs-page__field-label-holder {
    min-width: 10vw;
}

@media (max-width:800px) {
    .rs-page__field {
        flex-direction: column;
    }
    .table-responsive>.table {
        overflow: hidden;
    }
}