.artwork-card {
    width: 100% !important;
    min-height: 23vh;
    height: fit-content;
    padding: 2vh 0 2vh 0;
}

#search-results .rs-grid-element:hover {
    box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
}

.panel-body {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.show-facet-button {
    display: none;
}

.nav-tabs {
    display: none;
}

.facet,
.semantic-facet-holder {
    width: 100% !important;
    position: relative !important;
    border: none !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.facet__category-selector-holder li {
    border: none !important;
    margin: 5px !important;
}

.facet__relation__content__category-image {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.facet__category-selector-holder .category-selector .category-item-holder {
    min-width: 30px;
}

.FacetSlider--range input.form-control {
    width: 60px !important;
    min-width: 0 !important;
    padding: 4px !important;
}

.facet__category-selector-holder {
    display: none !important;
}

.facet__relation__header {
    border: 1px solid rgb(221, 221, 221);
    margin-top: 5px;
    min-height: 45px;
}

.facet__relation__header:hover,
.facet__relation__header:focus {
    text-decoration: none;
    color: #000000;
    background-color: rgba(162, 51, 56, 0.06);
}

header h1 {
    font-family: Georgia, Serif;
}

.rc-slider.FacetSlider--slider {
    width: 80%;
    margin-left: 10%;
}

.facet__relation__values__filter {
    margin: 0;
}

.contentExcerpt {
    display: inline-block;
    overflow: hidden;
    text-overflow: fade;
    height: 65px;
    margin-top: 10px;
}

.contentExcerpt:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 50px, white);
}

.clearable-input {
    filter: hue-rotate(117deg);
    border-radius: 5px;
}

.facet__relation__header {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 1px 1px 4px 0px lightgrey;
    font-weight: bold;
    height: 5vh;
}

.clearable-input__clear {
    border: none !important;
    border-radius: 5px !important;
    height: 3vh;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 0px 0px lightgrey;
    background: rgb(247 247 247);
}

.clearable-input__clear .fa {
    color: unset !important;
}

header {
    margin-top: 4vh;
}

.filter-title {
    margin-left: 1.5vw;
    font-size: medium;
    text-transform: uppercase;
}

.thumbnailImage {
    margin-top: 1vh;
    margin-left: 1vw;
}

.drawingInfo {
    margin-bottom: 2vh;
}

.grid-info {
    font-size: 16px !important;
}

.fade-in {
    -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.grid-demo b {
    font-weight: normal;
    color: #777777;
}

#search-results .rs-grid-element .panel-body {
    cursor: pointer;
    font-size: large;
    align-items: center;
    display: flex !important;
}

.rs-application .table>tbody>tr>td {
    border-color: white !important;
    padding: 4px 8px;
}

.rs-page__field {
    display: flex;
    justify-content: flex-start;
}

.rs-page__field-label {
    font-weight: normal;
    color: #777777;
}

.rs-page__field-label-holder {
    min-width: 10vw;
}

@media (max-width: 800px) {
    .rs-page__field {
        flex-direction: column;
    }
    .table-responsive>.table {
        overflow: hidden;
    }
}