<div class="row-center row">
  <div class="panel  col-md-8 col-sm-10">
    <div>
      <h1>Site Credits/Acknowledgements</h1>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <p>
     <b><em>Support<br /></em></b>
     <div class="row-center">
          <bs-col md="6" sm="12" xs="12">
          <a href="https://www.kressfoundation.org/" title="Go to kressfoundation.org">
            <img style="height:14vh;"src="../../assets/images/kress_logo.png"></a></bs-col>
            <bs-col md="6" sm="12" xs="12">
          <a href="https://www.itatti.harvard.edu/" title="Go to itatti.harvard.edu">
            <img style="height:14vh;" src="../../assets/images/logoitatti.png"></a>
      </bs-col>
    </div>
      </p>
      <p>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <b
            ><em>Principal investigators<br /></em></b
          >Lukas Klic<br />Jonathan Nelson
        </li>
        <li class="list-group-item">
          <b
            ><em>Design, Methodology, Technical Advising<br /></em></b
          >Matt Miller<br />Cristina Pattuelli<br />Alexandra Provo
        </li>
        <li class="list-group-item">
          <b
            ><em>Web Development<br /></em></b
          >Lukas Klic<br /> Andreas Michelakis<br/> Matt Miller
          
        </li>
        <li class="list-group-item">
          <b
            ><em>Project Management<br /></em></b
          >Alexandra Provo
        </li>
        <li class="list-group-item">
          <b
            ><em>Data enrichment<br /></em></b
          >Carlos Acevedo
        </li>
        <li class="list-group-item">
          <b
            ><em>Cataloging<br /></em></b
          >Sara Della Bianchina<br />Dominic
          Ferrante <br /> Kelsey Garrison<br />Alice Parri<br />
        </li>
        <li class="list-group-item">
          <b
            ><em>Interns<br /></em></b
          >Diana Ingerman<br />Sylvie Rubin-Budick
        </li>
      </ul>
    </p>
    <p>
      <b
        ><em>Data transformation & display<br/></em></b
      >
      <div class="row">
        <bs-col style="margin-left: 1vw;" md="4">
        <a  href="http://www.smartupds.com/" title="Go to smartupds.com">
      <img  style="height:7vh;" src="../../assets/images/smartupd_logo.svg"></a><br/>
    </bs-col>  
    </div>
    </p>
    </div>
  </div>
</div>
<style>
  .panel {
    margin: 2vw;
  }
  .background-page {
    margin: 2vw;
  }

  p {
    margin-top: 2vh;
    background: #ffffff;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    padding: 2vh;
    font-size: 12pt;
    line-height: 4vh;
  }
  h1 {
    font-size: 22pt;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  a {
    color: #761f0e !important;
    text-decoration-color: #761f0e;
  }
  a:hover {
    text-decoration: underline;
  }

  .panel-default > .panel-heading {
    background: none !important;
    border-color: lightgray !important;
  }
</style>
