<div class="row"></div>

<div class="description">
  Bernard Berenson’s <i> Drawings of the Florentine Painters</i> is a digital
  resource based on Berenson’s publication of the same name. This research tool
  allows you to search for any of the drawings listed in the three editions
  (1903, 1938 in English; 1961, in Italian). Using the discover page you are
  able search Berenson’s information by artist, title (in English or Italian),
  location, and technique. Each entry includes key information from all three
  editions of Berenson’s text, as well as the current location, an image of the
  catalog page, and plates included in 1903; most entries also have links to
  museum webpages, including images. For information about how the data was
  prepared, how to use the site, and for background on Berenson’s scholarship,
  see the
  <div class="btn">
    <semantic-link iri="rsp:background">About page</semantic-link>
  </div>
  .
</div>

<div class="row">
  <div style="text-align: center; margin-top: 4vh" class="col-md-12">
    <semantic-link class="btn btn-default" iri="rsp:search"
      >Discover Drawings
      <img
        style="filter: hue-rotate(80deg); margin-left: 0.5vw"
        src="/assets/images/icons/search.svg"
      />
    </semantic-link>
  </div>
</div>

<div class="page-header row">
  <h2 class="col-md-8 page-heading">Collection Highlights</h2>
</div>

<div class="row">
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Michelangelo.png"
      class="img-circle"
    />
    <h2>Michelangelo</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500010654"
        >473 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Fra Bartolommeo.png"
      class="img-circle"
    />
    <h2>Fra Bartolommeo</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500115575"
        >422 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Leonardo da Vinci.png"
      class="img-circle"
    />
    <h2>Leonardo</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500010879"
        >364 records »</semantic-link
      >
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Filippino Lippi.png"
      class="img-circle"
    />
    <h2>Filippino Lippi</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500018029"
        >188 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Andrea del Sarto.png"
      class="img-circle"
    />
    <h2>Andrea Del Sarto</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500025314"
        >152 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <img
      class="animate-entrance"
      src="../../images/Sandro Botticelli.png"
      class="img-circle"
    />
    <h2>Botticelli</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/ulan/500015254"
        >39 records »</semantic-link
      >
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <a href="">
      <img
        class="animate-entrance"
        src="../../images/Gabinetto disegni e stampe degli Uffizi.png"
        class="img-circle"
    /></a>
    <h2>Uffizi Gallery</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://viaf.org/viaf/131952597/"
        >1594 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <a href=""
      ><img
        class="animate-entrance"
        src="../../images/Musée%20du%20Louvre.png"
        class="img-circle"
    /></a>
    <h2>Musée du Louvre</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://viaf.org/viaf/130051079/"
        >389 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <a href=""
      ><img
        class="animate-entrance"
        src="../../images/British Museum.png"
        class="img-circle"
    /></a>
    <h2>British Museum</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://viaf.org/viaf/134857252/"
        >305 records »</semantic-link
      >
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <!-- Image Michelangelo 0001469-Berenson -->
    <a href=""
      ><img
        class="animate-entrance"
        src="../../images/black chalk.png"
        class="img-circle"
    /></a>
    <h2>black chalk drawings</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/aat/300080058"
        >981 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <a href=""
      ><img
        class="animate-entrance"
        src="../../images/red chalk.png"
        class="img-circle"
    /></a>
    <h2>red chalk drawings</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/aat/300080064"
        >822 records »</semantic-link
      >
    </p>
  </div>
  <div class="col-md-4" style="text-align: center; margin-bottom: 35px">
    <a href="">
      <img
        class="animate-entrance"
        src="../../images/metalpoint.png"
        class="img-circle"
    /></a>
    <h2>metalpoint drawings</h2>
    <p>
      <semantic-link
        class="btn btn-default"
        iri="http://vocab.getty.edu/aat/300404633"
        >608 records »</semantic-link
      >
    </p>
  </div>
</div>

<style>
  .description {
    margin-top: 2vh;
    background: #ffffff;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    padding: 2vh;
    font-size: 12pt;
    line-height: 4vh;
  }

  .animate-entrance {
    border-radius: 100%;
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
</style>
