<div class="artwork_list_head">
    <h1>Artworks at</h1>
      <semantic-query
        query=" 
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
        
          SELECT ?institute_name WHERE {                   
                <[[this]]> rdfs:label ?institute_name
          }"
        template="{{>artistTemplate}}"
      >
        <template id="artistTemplate">
          {{#each bindings}}
          <object data="../../images/{{institute_name.value}}.png" type="image/png" class="img-circle headImageObject"></object>
          <h2>{{institute_name.value}}</h2>
          {{/each}}
        </template>
      </semantic-query>
    </h2>
  </div>
  
  <div class="artwork_list_body">
      <semantic-table
      id="grid-result"
      number-of-displayed-rows="10"
      query="
      SELECT DISTINCT ?subject ?artist ?artist_name ?id_number ?recto_title_1938 ?recto_title_1961  ?techniqueList
       WHERE {
  
        ?subject <http://www.cidoc-crm.org/cidoc-crm/P30_custody_transferred_through> ?transfer.
        ?transfer <http://www.cidoc-crm.org/cidoc-crm/P29_custody_recieved_by> <[[this]]>.
        ?subject crm:P108i_was_produced_by ?production.
        ?production crm:P14_was_carried_out_by ?artist.
        ?artist rdfs:label ?artist_name
      
        ## PREFERRED IDENTIFIER (Inventory Number) ##
        OPTIONAL {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P48_has_preferred_identifier> ?id .
            ?id rdfs:label ?id_number
        }        
        ## RECTO TITLE 1938 (Title) ##
        OPTIONAL {
          ?subject crm:P56_bears_feature ?feature.
          ?feature crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
          ?feature a crm:E25_Man-Made_Feature.
          ?feature crm:P138_has_representation ?visual_item.
          ?visual_item a crm:E36_Visual_Item.
          ?visual_item crm:P102_has_title ?value_uri.
          ?value_uri a crm:E35_Title.
          ?value_uri rdfs:label ?recto_title_1938.
          ?value_uri crm:P141i_was_assigned_by <https://florentinedrawings.itatti.harvard.edu/resource/work/1938/attribute_assignment>
        }
  
        ## RECTO TITLE 1961 (English Title) ##
        OPTIONAL {
          ?subject crm:P56_bears_feature ?feature_b.
          ?feature_b crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
          ?feature_b a crm:E25_Man-Made_Feature.
          ?feature_b crm:P138_has_representation ?visual_item_b.
          ?visual_item_b a crm:E36_Visual_Item.
          ?visual_item_b crm:P102_has_title ?value_uri_b.
          ?value_uri_b a crm:E35_Title.
          ?value_uri_b rdfs:label ?recto_title_1961.
          ?value_uri_b crm:P141i_was_assigned_by <https://florentinedrawings.itatti.harvard.edu/resource/work/1961/attribute_assignment>
        }
        ## TECHNIQUE ##
          BIND((?subject) as ?iri){
            SELECT ?iri (GROUP_CONCAT(DISTINCT(?technique); SEPARATOR=', ') AS ?list)  WHERE{
              ?iri crm:P56_bears_feature ?feature.
              ?feature crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
              ?feature a crm:E25_Man-Made_Feature.
              ?feature crm:P81_was_modified_by ?modification.
              ?modification a crm:E11_Modification.
              ?modification crm:P32_used_general_technique ?general_technique.
              ?general_technique rdfs:label ?technique
            }GROUP BY ?iri
          }BIND((?list) as ?techniqueList) 
  
       }LIMIT 40
    "
      tuple-template="{{>tupleTemplate}}"
    >
      <template id="tupleTemplate">
        <div
          class="rs-grid-element panel panel-default artwork-card fade-in"
        >
          <div class="panel-body">
            <!-- <bs-col md="2">
              <div class="grid-demo">
                <mp-resource-thumbnail
                  iri="{{subject.value}}"
                  class="thumbnail"
                />
              </div>
            </bs-col> -->
            <bs-col md="5">
              <div class="row-center">
                <semantic-query
                query='SELECT DISTINCT ?imgUrl WHERE{
                BIND(CONCAT("https://s3-eu-west-1.amazonaws.com/florentinedrawings/thumbs/",REPLACE(STR(REPLACE(STR({{subject}}),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2"),".jpg") AS ?imgUrl)
              }'
                template="{{> imageThumbnail}}"
              >
              <template id="imageThumbnail">
                <object data="{{bindings.0.imgUrl.value}}" type="image/jpeg"class="thumbnailImage"></object>
              </template>
              </semantic-query>
              </div>
            </bs-col>
            <bs-col md="7">
              <div data-flex-layout="row md-column center-stretch">
                <bs-row>
                  <bs-col md="12">
                    <h4>
                      <semantic-link iri="{{subject.value}}"
                        >{{recto_title_1961.value}}</semantic-link
                      >
                    </h4>
                  </bs-col>
  
                  <div>
                    {{#ifCond id_number.value "!==" undefined}}
                    <bs-col md="12">
                      <div class="grid-demo">
                        <b>Inventory Number: </b>{{id_number.value}}
                      </div>
                    </bs-col>
                    {{/ifCond}}
                    
                    {{#ifCond artist_name.value "!==" undefined}}
                    <bs-col md="12">
                      <div class="grid-demo">
                        <b>Artist Attribution: </b
                        >{{artist_name.value}}
                      </div>
                    </bs-col>
                    {{/ifCond}}
  
                    {{#ifCond techniqueList.value "!==" ""}}
                    <bs-col md="12">
                      <div class="grid-demo">
                        <b>Technique: </b>
                            {{techniqueList.value}} 
                      </div>
                    </bs-col>
                    {{/ifCond}}
                    
  
                    {{#ifCond recto_title_1938.value "!==" undefined}}
                    <bs-col md="12">
                      <div class="grid-demo">
                        <b>English title: </b
                        >
                        {{recto_title_1938.value}}
                        {{log recto_title_1938}}
                      </div>
                    </bs-col>
                    {{/ifCond}}
  
                  </div>
                </bs-row>
              </div>
            </bs-col>
          </div>
        </div>
      </template>
    </semantic-table>
  </div>
  
  
<style>

  .filter-container {
   justify-content:center !important;
  }

  .fade-in {
    -webkit-animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
</style>
  
    