<!-- [[#partial "activeBreadcrumb"]]
Thing: <mp-label iri='[[this]]'></mp-label>
[[/partial]] -->


<semantic-carousel
  query="
  SELECT distinct ?label ?thumbnail  WHERE 
  {
    ?? crm:P56_bears_feature ?feat.             
    ?feat crm:P136_has_representation ?visual.
    ?visual crm:P129i_is_subject_of ?thumbnail.
    ?visual  crm:P102_has_title ?title.
    ?title rdfs:label ?label
  }"
  tuple-template='
  <div class="text-center panel panel-default" style="border:none; font-size:12px; height:300px;width: 100%;">
    <div class="panel-body" style="height: 280px;">
      <img src="{{thumbnail.value}}" style="max-height:260px; margin: 0 auto;" class="img-rounded">
    </div>
    <div class="panel-footer" style="position: relative;  border: none;">
       {{label.value}}
    </div>
  </div>
  '
></semantic-carousel>

<semantic-query
  query="
        SELECT ?thumbnail ?label WHERE {       
          ?? crm:P56_bears_feature ?feat.             
          ?feat crm:P136_has_representation ?thumbnail.
          ?thumbnail  crm:P102_has_title ?title.
          ?title rdfs:label ?label
        }"
  template="{{> template}}"
>
  <template id="template"> {{thumbnail.value}} </template>
</semantic-query>

<mp-description iri="[[this]]" template="{{> tpl}}">
  <template id="tpl">
    <span><b>Description:</b> {{description}}</span>
  </template>
</mp-description>

<mp-field-visualization
  subject="[[this]]"
  fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.researchspace.org/resource/system/fields/domain> crm:E22_Man-Made_Object. } "]]'
  template='{{> rsp:ResourceFieldBasedVisualization subject="[[this]]" [[#if asserted]]guess="true"[[/if]]}}'
></mp-field-visualization>
