<div class="artwork_list_head">
    <h1>Artworks with technique</h1>
      <semantic-query
        query=" 
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
          SELECT ?technique_name WHERE {                   
                <[[this]]> rdfs:label ?technique_name
          }"
        template="{{>artistTemplate}}"
      >
        <template id="artistTemplate">
          {{#each bindings}}
          <object data="../../images/{{technique_name.value}}.png" type="image/png" class="img-circle headImageObject"></object>
          <h2>{{technique_name.value}}</h2>
          {{/each}}
        </template>
      </semantic-query>
    </h2>
  </div>
  
  <div class="artwork_list_body">
      <semantic-table
      id="grid-result"
      number-of-displayed-rows="10"
      query="
      SELECT DISTINCT ?subject
       WHERE {
  
        ?subject crm:P108i_was_produced_by ?production.
        ?subject crm:P56_bears_feature ?feature_s.
        ?feature_s crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
        ?feature_s a crm:E25_Man-Made_Feature.
        ?feature_s crm:P81_was_modified_by ?modification.
        ?modification a crm:E11_Modification.
        ?modification crm:P32_used_general_technique <[[this]]>.
      }
    "
      tuple-template="{{>tupleTemplate}}"
    >
      <template id="tupleTemplate">
        <div
          class="rs-grid-element panel panel-default artwork-card fade-in"
        >
        <semantic-link-container uri="{{subject.value}}">
          <div class="panel-body">
            <bs-col md="5" xs="12">
              <div class="row-center">
                <semantic-query
                  query='SELECT DISTINCT ?imgUrl WHERE{
                  BIND(CONCAT("https://s3-eu-west-1.amazonaws.com/florentinedrawings/thumbs/",REPLACE(STR(REPLACE(STR({{subject}}),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2"),".jpg") AS ?imgUrl)
                }'
                  template="{{> imageThumbnail}}"
                >
                  <template id="imageThumbnail">
                    <object data="{{bindings.0.imgUrl.value}}" type="image/jpeg"class="thumbnailImage"></object>
                  </template>
                </semantic-query>
              </div>
            </bs-col>
            <bs-col md="7" xs="12">
              <div data-flex-layout="row md-column center-stretch">
                <bs-row>
                  <mp-field-visualization
                  subject="{{subject.value}}"
                  fields='[[fieldDefinitions  
                  Title="https://florentinedrawings.itatti.harvard.edu/resource/field/1961_Edition_Recto_Title"
                  English_Title="https://florentinedrawings.itatti.harvard.edu/resource/field/1938_Edition_Recto_Title"  
                  Inv.Number="https://florentinedrawings.itatti.harvard.edu/resource/field/Inventory_Number"
                  Artist ="https://florentinedrawings.itatti.harvard.edu/resource/field/1961_Edition_Artist_Attribution"
                  Technique="https://florentinedrawings.itatti.harvard.edu/resource/field/Recto_Technique"
                  ]]'
                  template='{{>generalInfo}}'
                  >
                  <template id="generalInfo">
                      [[> rsp:ResourceFieldBasedVisualization subject=[[this]]  ]]
                  </template>
                </mp-field-visualization>
                </bs-row>
              </div>
            </bs-col>
          </div>
        </semantic-link-container>
        </div>
      </template>
    </semantic-table>
  </div>
  
  
  <style>

    .filter-container {
     justify-content:center !important;
    }
  
    .fade-in {
      -webkit-animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    
  .grid-demo b{
      font-weight: normal;
    color: #777777;
    }

  .panel-body{
    cursor: pointer;
    display:flex;
    align-items:center;
    flex-wrap: wrap ;
  }
  .panel-body:hover{
    box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
  }
  .rs-application .table > tbody > tr > td{
    border-color: white !important;
    min-width: 5vw;
    text-align: justify;
    padding: 8px 8px;
  }
  .rs-page__field-label{
    font-weight: normal;
    color: #777777;
  }


  </style>
    
