<div class="artwork_list_head">
    <h1>Artworks at</h1>
      <semantic-query
        query=" 
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
        
          SELECT ?institute_name WHERE {                   
                <[[this]]> rdfs:label ?institute_name
          }"
        template="{{>artistTemplate}}"
      >
        <template id="artistTemplate">
          {{#each bindings}}
          <object data="../../images/{{institute_name.value}}.png" type="image/png" class="img-circle headImageObject"></object>
          <h2>{{institute_name.value}}</h2>
          {{/each}}
        </template>
      </semantic-query>
    </h2>
  </div>
  
  <div class="artwork_list_body">
      <semantic-table
      id="grid-result"
      number-of-displayed-rows="10"
      query="
      SELECT DISTINCT ?subject ?artist ?recto_title_1961 ?recto_title_1938
       WHERE {
        ?subject <http://www.cidoc-crm.org/cidoc-crm/P30_custody_transferred_through> ?transfer.
        ?transfer <http://www.cidoc-crm.org/cidoc-crm/P29_custody_recieved_by> <[[this]]>.
        ?subject crm:P108i_was_produced_by ?production.
        ?production crm:P14_was_carried_out_by ?artist.
        OPTIONAL{
          ?subject crm:P56_bears_feature ?feature_a.
          ?feature_a crm:P2_has_type <http://vocab.getty.edu/aat/300078817>.
          ?feature_a a crm:E25_Man-Made_Feature.
          ?feature_a crm:P138_has_representation ?visual_item_a.
          ?visual_item_a a crm:E36_Visual_Item.
          OPTIONAL{
            ?visual_item_a crm:P102_has_title ?value_uri_a.
            ?value_uri_a a crm:E35_Title.
            ?value_uri_a rdfs:label ?recto_title_1961.
            ?value_uri_a crm:P141i_was_assigned_by <https://florentinedrawings.itatti.harvard.edu/resource/work/1961/attribute_assignment>.
           }
          OPTIONAL{
            ?visual_item_a crm:P102_has_title ?value_uri.
            ?value_uri a crm:E35_Title.
            ?value_uri rdfs:label ?recto_title_1938.
            ?value_uri crm:P141i_was_assigned_by <https://florentinedrawings.itatti.harvard.edu/resource/work/1938/attribute_assignment>.
          }
        }
       }
    "
      tuple-template="{{>tupleTemplate}}"
    >
      <template id="tupleTemplate">
        <div
          class="rs-grid-element panel panel-default artwork-card fade-in"
        >
        <semantic-link-container uri="{{subject.value}}">
          <div class="panel-body">
            <bs-col md="5" xs="12">
              <div class="row-center">
                <semantic-query
                  query='SELECT DISTINCT ?imgUrl WHERE{
                  BIND(CONCAT("https://s3-eu-west-1.amazonaws.com/florentinedrawings/thumbs/",REPLACE(STR(REPLACE(STR({{subject}}),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2"),".jpg") AS ?imgUrl)
                }'
                  template="{{> imageThumbnail}}"
                >
                  <template id="imageThumbnail">
                    <object data="{{bindings.0.imgUrl.value}}" type="image/jpeg"class="thumbnailImage"></object>
                  </template>
                </semantic-query>
              </div>
            </bs-col>
            <bs-col md="7" xs="12">
              <div data-flex-layout="row md-column center-stretch">
                <bs-row>
                  <mp-field-visualization
                  subject="{{subject.value}}"
                  fields='[[fieldDefinitions  
                Title="https://florentinedrawings.itatti.harvard.edu/resource/field/Recto_Title_1961"
                English_Title="https://florentinedrawings.itatti.harvard.edu/resource/field/Recto_Title_1938"  
                Inv.Number="https://florentinedrawings.itatti.harvard.edu/resource/field/Inventory_Number"
                Artist ="https://florentinedrawings.itatti.harvard.edu/resource/field/Artist_Attribution"
                Technique="https://florentinedrawings.itatti.harvard.edu/resource/field/Technique"
                  ]]'
                
                  template='{{>generalInfo}}'
                  >
                  <template id="generalInfo">
                      [[> rsp:ResourceFieldBasedVisualization subject=[[this]]  ]]
                  </template>
                </mp-field-visualization>
                </bs-row>
              </div>
            </bs-col>
          </div>
        </semantic-link-container>
        </div>
      </template>
    </semantic-table>
  </div>
  
  
<style>

  .filter-container {
   justify-content:center !important;
  }

  .fade-in {
    -webkit-animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .grid-demo b{
      font-weight: normal;
    color: #777777;
    }

  .panel-body{
    cursor: pointer;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
  }
  .panel-body:hover{
    box-shadow: 1px 2px 8px 0 #761f0e35, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
  }
  .rs-application .table > tbody > tr > td{
    border-color: white !important;
    padding: 4px 8px;
  }
  .rs-page__field{
    display: flex;
    justify-content: flex-start;
  }
  .rs-page__field-label{
    font-weight: normal;
    color: #777777;
  }
  .rs-page__field-label-holder{
    min-width: 10vw;
}

@media (max-width:800px){
  .rs-page__field{
    flex-direction:column;
    width: 43vw;
  }
  .table-responsive>.table{
    overflow: hidden;
  }
}
</style>
  
    
